<% include partials/header.ejs %>

<div class="container">
    <div class="row text-center">
        <div class="col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8">
            <h3>Edit <%=camp.name%></h3>
            <br>
            <form action="/campground/<%=camp._id%>?_method=PUT" method="POST">
                <input class="form-control form-group has-feedback" type="text" placeholder="Camp Name" name="name" value="<%=camp.name%>">
                
                <input class="form-control form-group has-feedback" type="text" placeholder="Image link" name="image" value="<%=camp.image%>">
                
                <input class="form-control form-group has-feedback" type="text" placeholder="Description" name="desc" value="<%=camp.desc%>">
                
                <button class="btn btn-large btn-success form-group has-feedback btn-block">Submit</button>
            </form>
            <br>
            <a class="btn btn-primary btn-small" href="/campground">Go back</a>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>