<% include partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
         <p class="lead">YelpCamp</p>   
             <div class="list-group">
                 <li class="list-group-item active">Info 1</li>
                 <li class="list-group-item">Info 2</li>
                 <li class="list-group-item">Info 3</li>
             </div>
        </div>
        <div class="col-sm-9">
            <div class="thumbnail">
                <img class="resizeimg img-responsive" src="<%= camp.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">9$/night</h4>
                    <h4><a href=""><%= camp.name %></a></h4>
                    <p><%= camp.desc %></p>
                    <p><em>Submitted by: <%= camp.author.username %></em></p>
                    <% if(currentUser && camp.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-warning" href="/campground/<%=camp._id%>/edit">Edit</a>
                    <form id="deleteForm" action="/campground/<%=camp._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campground/<%=camp._id%>/comment/new">Leave a Review</a>
                </div>
                <hr>
                <% camp.linkcommenttocamp.forEach(function(linkcommenttocamp){ %>
                     <div class="row">
                        <div class="col-sm-12">
                            <strong><%=linkcommenttocamp.author.username%></strong>
                            <span class="pull-right">10 days ago</span>
                            <p><%=linkcommenttocamp.text%></p>
                        
                             <% if(currentUser && linkcommenttocamp.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-warning" 
                                   href="/campground/<%=camp._id %>/comment/<%=linkcommenttocamp._id %>/edit">Edit</a>
                                <form id="deleteForm" action="/campground/<%=camp._id %>/comment/<%=linkcommenttocamp._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>
                            <% } %>
                            
                        </div>
                     </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<br>
<a class="btn btn-primary btn-small" href="/campground">Go back</a>

<% include partials/footer.ejs %>